extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  
  h1.title_striped Большой заголовок
  <br/>
  h2.title_striped Средний заголовок
  <br/>
  h3.title_striped Маленький заголовок
