extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.header
    .header__socials
      +socials('socials-in-footer')
    .header__hamburger
      +icon('hamburger', 'icon-hamburger')
    +image('png/portfolio_header.png', 'title','header__hero-bg')
    .header__hero
      +hero('avatar', 'Дуэйн Скала Джонсон', 'Двейн', 'Супер рестлер')
    +icon('arrow_down', 'header__icon-down')


  h1.title_striped Большой заголовок
  <br/>
  h2.title_striped Средний заголовок
  <br/>
  h3.title_striped Маленький заголовок
