extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.header
    +socials('socials-in-footer')
    +hero('header__hero', 'avatar', 'Дуэйн Скала Джонсон', 'Двейн', 'Супер рестлер', 'about_header')
    +icon('hamburger', 'header__icon-menu')
    +icon('arrow_down', 'header__icon-down')
  h1.title_striped Большой заголовок
  <br/>
  h2.title_striped Средний заголовок
  <br/>
  h3.title_striped Маленький заголовок
