extends ../main.layout.pug

block content
    .slider
        .slider__main-slide
        .slider__wrap-btn
            .slider__control.slider__control--left 1
            .slider__control.slider__control--right 2