extends ../main.layout.pug

block scripts
  script(src='works.bundle.js')
  
block content
    #slider-root.slider-wrap
        .slider-info
            .slider-info__title Информация о слайдере
        .slider
            .slider__main-slide
            .slider__wrap-btn
                .slider__control.slider__control--left 1
                .slider__control.slider__control--right 2