extends ../main.layout.pug

block scripts
  script(src='works.bundle.js')
  
block content
    .slider-header
      .slider-header__title.title_striped Мои работы
        .title_striped__bg(style={'background-image': 'url("/assets/images/png/works_header.png")'})
    #slider-root

    .about-me-comments
      .about-me-comments__title.title_striped Что обо мне говорят
        .title-striped__bg(style={'background-image': 'url("/assets/images/png/about_header.png")'})
      .wrap-comments
        .comments
          .comment
            .comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .comment__wrap-person
              +image('png/kovalchuk.png','kovalchuk','comment__img-person')
              .comment__person-title
                .comment__person-title
                    span.strong Ковальчук Дмитрий 
                    br
                    span основатель Loftschool
          .comment
            .comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .comment__wrap-person
              +image('png/kovalchuk.png','kovalchuk','comment__img-person')
              .comment__person-title
                .comment__person-title
                    span.strong Ковальчук Дмитрий 
                    br
                    span основатель Loftschool
