extends ../main.layout.pug

block scripts
  script(src='works.bundle.js')
  
block content
    #slider-root
    .about-me
      .about-me__title.title-striped Что обо мне говорят
      .wrap-comments
        .comments
          .comment
            .comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .comment__wrap-person
              +image('png/kovalchuk.png','kovalchuk','comment__img-person')
              .comment__person-title
                .comment__person-title
                    span.strong Ковальчук Дмитрий 
                    br
                    span основатель Loftschool
          .comment
            .comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .comment__wrap-person
              +image('png/kovalchuk.png','kovalchuk','comment__img-person')
              .comment__person-title
                .comment__person-title
                    span.strong Ковальчук Дмитрий 
                    br
                    span основатель Loftschool
