footer.footer
  .footer__row.footer__row--bb1ee
    .footer__lb
      +menu('horizontal')
    .footer__rb
      +socials('in_footer')
  .footer__row
    .footer__lb Я вэб разработчик из Москвы, и этот сай я сделал в рамках<br />обучения в Школе онлайн образования LostSchool
    .footer__rb Гречин Василий | создано с любовью в LoftSchool | 2016