section.header
    .header__socials
      +socials('header__socials')
    +icon('hamburger', 'header__hamburger')
    +image('png/portfolio_header.png', 'title','header__hero-bg-title')
    .header__hero
      +hero('avatar', 'Владимир Астахов', 'Владимир Астахов', 'Личный сайт веб разработчика')
    +icon('arrow_down', 'header__icon-down')