section.header
    .header__socials
      +socials('socials-in-footer')
    .header__hamburger
      +icon('hamburger', 'icon-hamburger')
    +image('png/portfolio_header.png', 'title','header__hero-bg')
    .header__hero
      +hero('avatar', 'Дуэйн Скала Джонсон', 'Двейн', 'Супер рестлер')
    +icon('arrow_down', 'header__icon-down')