script(type="text/x-template")#slider-wrap
    .slider-wrap
        sliderSelectInfo
        slider
        

script(type="text/x-template")#slider-b-info-select
    .slider-info
        .slider-info__title Информация о слайдере


script(type="text/x-template")#slider
    .slider
        .slider__main-slide
        .slider__wrap-btn
            .slider__control.slider__control--left 1
            .slider__control.slider__control--right 2
