script(type="text/x-template")#slider
    .slider-wrap
        sliderSelectInfo(:work="currentWork")
        .slider
            selectSlide(:work="currentWork")
            sliderBtns(@slide="handleSlide" :works="works" :index="currentIndex")
script(type="text/x-template")#slider-select-info
    .slider-info
        .slider-info__title {{ work.title }}

script(type="text/x-template")#selectSlide
    img(:src="work.photo", alt="").slider__main-slide

script(type="text/x-template")#sliderBtns
    .slider__wrap-btn
        .slider__control.slider__control--right(@click="slide('prev')")
            img(:src="prevButtonWorks[index].photo", alt="фото", class="img-control-slider")
        .slider__control.slider__control--left(@click="slide('next')")
            img(:src="nextButtonWorks[index].photo", alt="фото", class="img-control-slider")
