.hero {

    text-align: center;

    &__img {

        border-radius:50%;
        width: 140px;
        height: 140px;
        display: inline-block;
    }

    &__name {

        font-family: 'RobotoMedium', Helvetica, sans-serif; 
        font-size: 21px;
        font-weight: 500;
        line-height: 28px;
        color: #fff;
        display: inline-block;
        white-space: nowrap;
    }

    &__title {
        
        font-family: 'RobotoLight', Helvetica, sans-serif; 
        opacity: 0.8;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        white-space: nowrap;
    }
}