.map {

    position: relative;
    height: 400px;

    &__google-map {

        background:url('/assets/images/png/map_scheme.png') no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;
    }

    &__data {

        position: absolute;
        left: 50%;
        top: 50%;
        //transform: translate(-50%, 50%);
        background-color: #ccc;
        opacity: 0.6;
    }
}