.slider-wrap {

    margin-top: 20px;
}

.slider-info {

    width: 400px;
    height: 400px;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

.slider {

    width: 400px;
    height: 400px;
    background-color: $beige;
    display: inline-block;

    @media (max-width: $ldesk) {
        background-color: blue;
    }

    @media (max-width: $desk) {
        background-color: red;
    }

    @media (max-width: $tab) {
        background-color: green;
    }

    &__main-slide {

        height: 200px;
        background-color: $light-grey;
    }

    &__wrap-btns {

        border: 3px solid $light-grey;
    }

    &__control {

        padding: 10px;
        border: 3px solid $light-grey;
        width: 50%;
        height: 200px;
        display: inline-block;
        //Отменяем выделения текста при быстром кликанье по кнопкам
        user-select: auto;
    }
}

.img-control-slider {

    width: 100%;
}