.social_link {

    padding: 7px 0;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;

    .icon {

        width: 20px;
        height: 20px;
    }
}

.socials {

    padding: 10px;

    &--in_footer {

        .social_link {

            border-radius: 50%;
            border: 1px solid #eee;
            margin-right: 5px;

            &:last-child {

                margin-right: 0;
            }
        }
    }
}