.socials {

    .social_link {

        display: inline-block;
        text-align: center;
        margin-right: 35px;
        
        .icon {
    
            width: 25px;
            height: 25px;
            fill: #ffffff;
            opacity: 0.5;

            &:hover {

                opacity: 1;
            }
        }

        &:last-child {

            margin-right: 0px;
        }
    }
    
    &--in_footer {

        .social_link {

            border-radius: 50%;
            border: 1px solid #eee;
            margin-right: 5px;

            &:last-child {

                margin-right: 0;
            }
        }
    }
}